* {
  box-sizing: border-box;
  font-family: 'Roboto', Helvetica, 'Lucida Grande', sans-serif;
}

:root {
  --color0: #1BB5AB;
  --color1: #FFFFFF;
  --color2: #d1f0ee;
  --color3: #1CB5AB;
  --color4: #2BBAB1;
  --color5: #A7BBCA;

  --text-main: #4B4B4B;
  --text-sub: rgba(75, 75, 75, 0.5);
  
  --fullwidth: 100%;
}

body {
  height: fit-content;
  padding: 0em;
  margin: 0em;
}

.header a, .header a:hover, .header a:link, .header a:visited, .header a:active {
  color: var(--color3);
  text-decoration: none;
  font-size: 1em;
}

.about, .video-display, .footer, .video-page-body {
  padding: 10px 30px 10px 30px;
}

.navigationbar button{
  margin-left: 5px;
}
.video-display{
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  background-color:var(--color1);
}

#app {
  display: flex;
  justify-content: center;
}

.navigationbar {
  background-color: var(--color2);
  color: var(--font-color);
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  z-index: 3;
  font-size: 1em;
}
.navigationbar a {
  color: var(--font-color);
  text-decoration: none; /* no underline */
}

.nav-button{
  display: inline-block;
  border: none;
  padding: 10px;
  text-decoration: none;
  color: #ffffff;
  background:var(--color5);
  margin:5px;
  border-radius:50px;

  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, 
              transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.nav-button:hover, .original-button:hover {
  background-color:var(--color6);
  color: var(--color3);
  text-decoration: none;
  border: none;
}

.original-button{
  display: inline-block;
  border: none;
  padding: 10px;
  text-decoration: none;
  background-color:var(--color2);
  color: var(--font-color);

  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
}


.link {
  float: right;
  display: block;
}

.about {
  background-color: var(--color6);
  color: var(--text-sub);
  margin-top: 40px;
  margin-bottom: 40px;
  font-weight: bold;
}

.about .header a {
  color: var(--text-main);
}

.search {
  margin-left: auto;
  margin-right: auto;
  display: block;
  background-color: var(--color2);
  border: 1px solid #186661;
  border-radius: 50px;
  width: 50vw;
  height: 1.7em;
  font-size: 1.5em;
  margin-bottom: 45px;
}

.video-card {
  padding: 5px;
  min-width: 380px;
}
.video-content {
  background-color: var(--color1);
  border: 1px solid var(--color1);
  min-height: 350px;
  width: 450px;
  cursor: pointer;
  padding: 15px;
  border-radius: 5px;
  position: relative;
}

.video-content iframe{
  height: 100%;
}

.video-title {
  font-family: Averia Libre;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  text-align: center;

  color: #4B4B4B;
}

.subtitle {
  font-family: Averia Libre;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  text-align: center;

  color: var(--text-main);
}

.subtitle a {
  color: var(--text-sub);
  font-weight: normal;
}

.footer {
  background-color: var(--color2);
  height: 100px;
}

iframe {
  border: 0 none transparent;
  width: 100%;
}

.video-content-container {
  height: 270px;
  position: relative;
}

.video-page-iframe {
  padding: 0px;
/* TODO: fix for more robust styling  */
  height: calc(95vh - 40px);
} 

.video-page-body {
  margin-top: 40px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 20px 20px 20px 0px;
}

.video-page-video{
  height: 50vh;
}

button:hover {
  background-color: var(--color5);
}


